.card {
    background-color: #EEE;
    border-radius: 0.2em;
    padding: 1em;
}

blockquote::before {
    content: '«';
}

blockquote::after {
    content: '»';
}

blockquote::after,
blockquote::before {
    font-size: 1.4em;
    padding: 0 0.2em;
    color: #666;
}
